.content-main {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin-top: 10px;
}
.swiper {
  position: relative;
  height: calc(100vh - 100px);
}
.swiper-wrapper {
  position: static;
}
.swiper-slide {
  position: relative;
  &__img {
    position: absolute;
    top: 3%;
    left: 0%;
    width: 55%;
    z-index: -1;
    bottom: 0;
  }
}

.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical > .swiper-pagination-bullets {
  right: inherit;
  top: 150px;
  left: 60px;
  position: absolute;
  width: 203px;
  flex-basis: 203px;
}

.swiper-pagination-bullet {
  background: transparent;
  height: inherit;
  color: white;
  width: inherit;
  text-align: left;
  font-size: 25px;
  font-weight: 800;
  font-family: $Catamaran;
  line-height: 1.1;
  &:not(:last-child) {
    margin-top: 0 !important;
    margin-bottom: 15px !important;
  }
  & span {
    display: block;
    font-weight: 600;
    font-size: 17px;
  }
}
.pagination-art {
  position: relative;
  &::before {
    content: "";
    background: url(../Images/line-white.svg) left center/cover no-repeat;
    background-size: 203px 2px;
    width: 203px;
    height: 2px;
    display: block;
    left: 0;
    bottom: 15px;
  }
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: transparent;
  font-size: 34px;
  font-family: $Catamaran;
  font-weight: 800;
  & span {
    font-size: 22px;
    font-weight: 600;
  }
}
.swiper-body {
  margin-left: 50%;
  &__title {
    font-size: 45px;
    font-family: $Caudex;
    font-weight: 700;
    line-height: 1.2;
    & span {
      position: relative;
      &::before,
      &::after {
        content: "3D printed";
        position: absolute;
        z-index: -1;
      }
      &::before {
        left: -4px;
        color: #fb258b;
      }
      &::after {
        bottom: 2px;
        left: 4px;
        color: #5025fb;
        width: 100%;
      }
    }
  }
  &__desc {
    font-family: $Catamaran;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.065em;
    color: #bcbcbc;
    line-height: 1.4;
    padding-right: 20px;
    margin: 30px 0 47px;
  }
  &__buttons {
    display: flex;
    align-items: center;
  }
  &__btn {
    font-family: $Orbitron;
    font-weight: 700;
    font-size: 18px;
    color: #252525;
    background-color: white;
  }
  &__buy {
    padding: 9px 20px;
    position: relative;
    margin-right: 30px;
    box-shadow: 0 0 0 4.5px rgba(255, 255, 255, 0);
    transition: all 0.3s ease-in;
    &::after,
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
    }
    &::after {
      background-color: #fb258b;
      left: -4px;
      top: -4.5px;
    }
    &::before {
      background-color: #5025fb;
      bottom: -4.5px;
      right: -4.5px;
    }
    &:hover {
      box-shadow: 0 0 0 4.5px #fff;
    }
    &:hover::after,
    &:hover::before {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
  &__view {
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    background: transparent;
    border: 1px solid white;
    padding: 14px 21px 14px 56px;
    position: relative;
    transition: all 0.3s ease;
    &::after {
      position: absolute;
      content: "";
      background: url("../Images/eye.svg") center center/cover no-repeat;
      background-size: 24px 18px;
      width: 24px;
      height: 18px;
      display: block;
      left: 20px;
      top: calc(50% - 9px);
      transition: all 0.3s ease;
    }
    &:hover {
      background-color: #fff;
      color: #252525;
    }
    &:hover::after {
      background: url("../Images/eye-black.svg") center center/cover no-repeat;
      background-size: 24px 18px;
      width: 24px;
      height: 18px;
    }
  }
}
.swiper-footer {
  position: absolute;
  height: 225px;
  bottom: 0;
  left: 0;
  right: 0;
  width: calc(100% - 50px);
  margin-right: -20px;
  background: linear-gradient(
    270deg,
    rgba(66, 66, 66, 0.49) 0%,
    rgba(66, 66, 66, 0.4753) 76.04%,
    rgba(66, 66, 66, 0) 100%
  );
  backdrop-filter: blur(47.2917px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.swiper-info {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto 1fr;
  gap: 5%;
  width: calc(100% - 360px);
  padding-left: 60px;
  &__author {
    grid-column: 1/6;
    grid-row: 1/2;
    font-family: $Caudex;
    font-size: 22px;
    font-weight: 700;
    margin: 30px 0 26px;
  }
  &__item {
    grid-row: 2/3;
    font-family: $Orbitron;
    font-size: 17px;
    font-weight: 700;
    & span {
      display: block;
      font-family: $Catamaran;
      font-weight: 500;
      font-size: 17px;
      color: #bcbcbc;
      margin-top: 10px;
    }
  }
}

.swiper-cover {
  width: 225px;
  height: 225px;
  position: relative;
  overflow: hidden;
  &__img {
    width: 225px;
    height: 225px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
  }
}

.pagination-price {
  display: inline;
  & span {
    font-family: $Caudex;
    display: inline;
  }
}

.death-star::before,
.death-star:after {
  content: "The Death Star" !important;
}
.wild-hunt::before,
.wild-hunt:after {
  content: "The Wild Hunt" !important;
}
.wolf-img {
  height: 100%;
  object-fit: cover;
  object-position: center top;
  left: 4%;
}
.abyss {
  left: 4%;
  top: 0;
}
.br {
  display: none;
}
