@media (orientation: portrait) and (max-width: 556px) {
  .br {
    display: block;
  }
  html,
  body {
    height: 100%;
  }
  .content {
    grid-template-rows: 45px 1fr;
    grid-template-columns: 45px 1fr;
  }

  .content-header {
    width: calc(100% - 45px);

    justify-content: center;
    &__logo {
      width: 92px;
      height: 19px;
      background-size: 92px 19px;
      margin: 0;
    }
  }
  .content-sidebar {
    &__button {
      height: 45px;
    }
  }
  .content-main {
    overflow-y: auto;
    height: 100%;
  }
  .swiper {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
  }

  .swiper-body {
    margin-left: 0;
    margin-top: 80px;

    &__title {
      font-size: 33px;
      width: calc(100% - 45px);
      text-align: center;
      margin: 0;
      padding: 0;
    }
    &__desc {
      width: calc(100% - 45px);
      margin: 5px 0 5px 0;
      text-align: center;
      padding: 0;
    }
    &__buttons {
      flex-direction: column;
      width: calc(100% - 45px);
    }
  }
  .swiper-body__buy {
    margin: 0;
  }
  .swiper-body__btn {
    margin: 15px 0;
  }
  .swiper-slide {
    overflow-y: scroll;
    height: 100%;
    width: 315px;
  }
  .swiper-footer {
    display: grid;
    position: relative;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: 1fr 1fr 1fr;
    height: 161%;
    margin-right: 0;
  }
  .swiper-info {
    display: inherit;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr;
    padding-left: 0;
    grid-column: 2/3;
    width: 100%;
    text-align: center;
    &__author {
      grid-column: 1/2;
    }
    &__item {
      grid-column: 1/2;
      grid-row: inherit;
    }
  }
  .swiper-slide__img {
    width: calc(100% - 45px);
    margin: -30px 0;
    display: block;
    position: static;
    object-fit: cover;
  }
  .swiper-cover {
    margin: 0 auto;
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .swiper-pagination-vertical.swiper-pagination-bullets,
  .swiper-vertical > .swiper-pagination-bullets {
    position: static;
    display: block;
    width: calc(100% - 45px);

    text-align: center;
    margin-top: 100px;
  }
  .pagination-art,
  .swiper-pagination-bullet span,
  .swiper-pagination-vertical.swiper-pagination-bullets
    .swiper-pagination-bullet,
  .swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
    text-align: center;
    &::before {
      display: none;
    }
  }
}

@media (orientation: landscape) and (max-height: 556px) {
  html,
  body {
    height: 100%;
  }
  .content {
    grid-template-rows: 50px 1fr;
    grid-template-columns: 50px 1fr;
  }
  .content-header {
    margin: 0 20px;
    justify-content: space-between;
    &__logo {
      margin: 0;
      width: 92px;
      height: 19px;
      background-size: 92px 19px;
    }
  }
  .content-sidebar {
    &__button {
      height: 50px;
    }
    &__item {
      margin-bottom: 10px;
    }
  }
  .content-main {
    overflow-y: auto !important;
    height: 100%;
  }
  .swiper {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  .swiper-slide {
    overflow-y: scroll;
  }

  .swiper-body {
    margin-left: 0;
    margin-top: 80px;

    &__title {
      font-size: 38px;
      width: calc(100% - 45px);
      text-align: center;
    }
    &__desc {
      width: calc(100% - 45px);
      margin: 5px 0 5px;
      text-align: center;
    }
    &__buttons {
      flex-direction: column;
      width: calc(100% - 45px);
    }
  }
  .swiper-body__buy {
    margin: 0;
  }
  .swiper-body__btn {
    margin: 15px 0;
  }
  .swiper-slide {
    height: 100%;
    width: 315px;
  }
  .swiper-footer {
    display: grid;
    position: relative;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: 1fr 1fr 1fr;
    height: 161%;
  }
  .swiper-info {
    display: inherit;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr;
    padding-left: 0;
    grid-column: 2/3;
    width: 100%;
    text-align: center;
    &__author {
      grid-column: 1/2;
    }
    &__item {
      grid-column: 1/2;
      grid-row: inherit;
    }
  }
  .swiper-slide__img {
    margin: -30px auto -86px;
    display: block;
    position: static;
    width: 80%;
  }
  .swiper-cover {
    margin: 0 auto;
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .swiper-pagination-vertical.swiper-pagination-bullets,
  .swiper-vertical > .swiper-pagination-bullets {
    position: static;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    margin-top: 35px;
  }
  .pagination-art,
  .swiper-pagination-bullet span,
  .swiper-pagination-vertical.swiper-pagination-bullets
    .swiper-pagination-bullet,
  .swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
    width: 100px;
    font-size: 10px;
    text-align: center;
    &::before {
      display: none;
    }
  }
  .swiper-pagination-vertical.swiper-pagination-bullets
    .swiper-pagination-bullet,
  .swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
  }
  .swiper-pagination-bullet.swiper-pagination-bullet-active span {
    font-size: 12px;
    width: 100px;
  }
}

@media (max-width: 762px) {
  .content-header {
    margin: 0;
    &__logo {
      margin: 0;
    }
  }
  body.lock {
    overflow: hidden;
  }
  .content-sidebar__button {
    z-index: 10;
  }
  nav.active {
    top: 0;
    overflow: hidden;
    overflow: auto;
    z-index: 2;
  }
  nav {
    position: fixed;
    height: 100%;
    width: 100%;
    top: -100%;
    left: 0;
    background-color: rgba(80, 26, 26, 0.918);
    padding: 70px 0 0 0;
    transition: all 0.7s ease;
    text-align: center;
  }
  .content-header__list {
    display: block;
    position: relative;
    z-index: 2;
  }
  .content-header__list li {
    margin-bottom: 25px;
  }
  .content-header__list li a {
    font-size: 20px;
    text-transform: uppercase;
  }
  .content-header__link.active::after,
  .content-header__link:hover::after {
    opacity: 1;
  }
  .content-header__item:not(:first-child) {
    margin-left: 0;
  }
  .content-header__item {
    display: flex;
    justify-content: center;
  }
  .content-header__link.active {
    font-weight: 800;
    &::after {
      width: 100%;
    }
  }
}

// @media (max-width: 1000px) and (min-width: 400px) and (min-height: 500px) {
//   .content-header {
//     margin: 0;
//     &__logo {
//       margin: 0;
//     }
//   }

//   .swiper-body {
//     height: calc(100vh - 98px - 225px);
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     margin-top: 20px;
//     &__buttons {
//       flex-direction: column;
//       text-align: center;
//       margin-bottom: 40px;
//       align-items: center;
//       width: calc(100% - 45px);
//     }
//     &__buy {
//       margin-right: 0;
//       margin-bottom: 10px;
//     }
//   }
//   .br {
//     display: block;
//   }
//   .swiper-slide__img {
//     top: inherit;
//     bottom: 225px;
//     left: 5%;
//   }
//   .wolf-img {
//     object-position: center top;
//     top: 3%;
//   }
//   .swiper-info {
//     padding-left: 5px;
//   }
//   .swiper-body__title {
//     margin-top: 25px;
//     text-align: center;
//     font-size: 20px;
//     width: 300px;
//     width: calc(100% - 45px);
//   }
//   .swiper-body__desc {
//     text-align: center;
//     font-size: 10px;
//     width: 300px;
//     height: 100%;
//     width: calc(100% - 45px);
//   }
// }

@media (min-width: 542px) and (min-height: 556px) and (max-width: 800px) {
  html,
  body {
    height: 100%;
  }
  .content {
    grid-template-rows: 50px 1fr;
    grid-template-columns: 50px 1fr;
  }
  .content-header {
    margin: 0 20px;
    justify-content: space-between;
    &__logo {
      margin: 0;
      width: 92px;
      height: 19px;
      background-size: 92px 19px;
    }
  }
  .content-sidebar {
    &__button {
      height: 50px;
    }
    &__item {
      margin-bottom: 10px;
    }
  }
  .content-main {
    overflow-y: auto !important;
    height: 100%;
  }
  .swiper {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  .swiper-slide {
    overflow-y: scroll;
  }

  .swiper-body {
    margin-left: 0;
    margin-top: 80px;

    &__title {
      font-size: 38px;
      width: calc(100% - 45px);
      text-align: center;
    }
    &__desc {
      width: calc(100% - 45px);
      margin: 5px 0 5px;
      text-align: center;
    }
    &__buttons {
      flex-direction: column;
      width: calc(100% - 45px);
    }
  }
  .swiper-body__buy {
    margin: 0;
  }
  .swiper-body__btn {
    margin: 15px 0;
  }
  .swiper-slide {
    height: 100%;
    width: 315px;
  }
  .swiper-footer {
    display: grid;
    position: relative;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: 1fr 1fr 1fr;
    height: 600%;
  }
  .swiper-info {
    display: inherit;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr;
    padding-left: 0;
    grid-column: 2/3;
    width: 100%;
    text-align: center;
    &__author {
      grid-column: 1/2;
    }
    &__item {
      grid-column: 1/2;
      grid-row: inherit;
    }
  }
  .swiper-slide__img {
    margin: -30px auto -86px;
    display: block;
    position: static;
    width: 80%;
  }
  .swiper-cover {
    margin: 0 auto;
    grid-row: 2/3;
    grid-column: 2/3;
  }
  .swiper-pagination-vertical.swiper-pagination-bullets,
  .swiper-vertical > .swiper-pagination-bullets {
    position: static;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    margin-top: 35px;
  }
  .pagination-art,
  .swiper-pagination-bullet span,
  .swiper-pagination-vertical.swiper-pagination-bullets
    .swiper-pagination-bullet,
  .swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
    width: 100px;
    font-size: 10px;
    text-align: center;
    &::before {
      display: none;
    }
  }
  .swiper-pagination-vertical.swiper-pagination-bullets
    .swiper-pagination-bullet,
  .swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
  }
  .swiper-pagination-bullet.swiper-pagination-bullet-active span {
    font-size: 12px;
    width: 100px;
  }
}
@media (min-height: 556px) and (min-width: 800px) and (max-width: 1200px) {
  .swiper-footer {
    height: 100px;
  }
  .swiper-cover,
  .swiper-cover__img {
    height: 100px;
    width: 100px;
  }
  .swiper-body {
    margin-left: 30%;
  }
  .swiper-info {
    text-align: center;
    &__author {
      grid-column: 1/2;
    }
    & span,
    & p {
      font-size: 15px;
      margin: 0;
      align-self: center;
      margin-top: 15px;
    }
    &__item {
      grid-row: 1/2;
    }
  }
}
