.content-sidebar {
  border-right: 1px solid #505050;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__button {
    display: block;
    background: url("../Images/menu.svg") center center/ 24px 24px no-repeat,
      linear-gradient(127.44deg, #505050 0%, #383838 100%);
    position: relative;
    width: 100%;
    height: 98px;
    transition: all 0.5s ease;
    &::after {
      content: "";
      position: absolute;
      background: url("../Images/menu-bg.svg") center center/ 24px 24px
        no-repeat;
      display: block;
      background-size: cover;
      width: 24px;
      height: 24px;
      z-index: -1;
      top: calc(50% - 13px);
      left: calc(50% - 13px);
      opacity: 0.05;
      transition: all 0.5s ease;
    }
    &::before {
      content: "";
      position: absolute;
      background: url("../Images/menu-bg2.svg") center center/ 24px 24px
        no-repeat;
      display: block;
      width: 24px;
      background-size: cover;
      height: 24px;
      top: calc(50% - 11px);
      left: calc(50% - 11px);
      opacity: 0.05;
      z-index: -1;
      transition: all 0.5s ease;
    }
    &:hover {
      background: url("../Images/menu.svg") center center/ 24px 24px no-repeat,
        linear-gradient(127.44deg, #6565658f 0%, #55555586 100%);
    }
    &:hover::before,
    &:hover::after {
      opacity: 1;
    }
  }
  &__list {
    margin: 0 auto;
  }
  &__item {
    margin-bottom: 65px;
  }
  &__link {
    display: block;
    width: 30px;
    height: 30px;
  }
  &__fb {
    background: url("../Images/fb.svg") center center/cover no-repeat;
    background-size: 25px 25px;
  }
  &__tw {
    background: url("../Images/tw.svg") center center/cover no-repeat;
    background-size: 25px 25px;
  }
  &__inst {
    background: url("../Images/inst.svg") center center/cover no-repeat;
    background-size: 25px 25px;
  }
}

