@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;500;600;800&family=Caudex:wght@700&family=Orbitron:wght@700&display=swap");

//fonts
$Catamaran: "Catamaran", sans-serif;
$Caudex: "Caudex", serif;
$Orbitron: "Orbitron", sans-serif;
