@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;500;600;800&family=Caudex:wght@700&family=Orbitron:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;500;600;800&family=Caudex:wght@700&family=Orbitron:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100vh;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none !important;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  padding-left: 0 !important;
  list-style: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background: -webkit-linear-gradient(341.24deg, #343131 -1.39%, #1d1919 102.08%);
  background: -o-linear-gradient(341.24deg, #343131 -1.39%, #1d1919 102.08%);
  background: linear-gradient(108.76deg, #343131 -1.39%, #1d1919 102.08%);
  height: 100vh;
}

html {
  height: 100vh;
}

a {
  cursor: pointer;
}

.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 110px 1fr;
      grid-template-columns: 110px 1fr;
  -ms-grid-rows: 98px 1fr;
      grid-template-rows: 98px 1fr;
  height: 100%;
}

.content-sidebar {
  border-right: 1px solid #505050;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-sidebar__button {
  display: block;
  background: url("../Images/menu.svg") center center/24px 24px no-repeat, -webkit-linear-gradient(322.56deg, #505050 0%, #383838 100%);
  background: url("../Images/menu.svg") center center/24px 24px no-repeat, -o-linear-gradient(322.56deg, #505050 0%, #383838 100%);
  background: url("../Images/menu.svg") center center/24px 24px no-repeat, linear-gradient(127.44deg, #505050 0%, #383838 100%);
  position: relative;
  width: 100%;
  height: 98px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.content-sidebar__button::after {
  content: "";
  position: absolute;
  background: url("../Images/menu-bg.svg") center center/24px 24px no-repeat;
  display: block;
  background-size: cover;
  width: 24px;
  height: 24px;
  top: calc(50% - 13px);
  left: calc(50% - 13px);
  opacity: 0.05;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.content-sidebar__button::before {
  content: "";
  position: absolute;
  background: url("../Images/menu-bg2.svg") center center/24px 24px no-repeat;
  display: block;
  width: 24px;
  background-size: cover;
  height: 24px;
  top: calc(50% - 11px);
  left: calc(50% - 11px);
  opacity: 0.05;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.content-sidebar__button:hover {
  background: url("../Images/menu.svg") center center/24px 24px no-repeat, -webkit-linear-gradient(322.56deg, #6565658f 0%, #55555586 100%);
  background: url("../Images/menu.svg") center center/24px 24px no-repeat, -o-linear-gradient(322.56deg, #6565658f 0%, #55555586 100%);
  background: url("../Images/menu.svg") center center/24px 24px no-repeat, linear-gradient(127.44deg, #6565658f 0%, #55555586 100%);
}

.content-sidebar__button:hover::before, .content-sidebar__button:hover::after {
  opacity: 0.8;
}

.content-sidebar__list {
  margin: 0 auto;
}

.content-sidebar__item {
  margin-bottom: 65px;
}

.content-sidebar__link {
  display: block;
  width: 30px;
  height: 30px;
}

.content-sidebar__fb {
  background: url("../Images/fb.svg") center center/cover no-repeat;
  background-size: 25px 25px;
}

.content-sidebar__tw {
  background: url("../Images/tw.svg") center center/cover no-repeat;
  background-size: 25px 25px;
}

.content-sidebar__inst {
  background: url("../Images/inst.svg") center center/cover no-repeat;
  background-size: 25px 25px;
}

.content-main {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
}

.swiper {
  position: relative;
  height: calc(100vh - 100px);
}

.swiper-wrapper {
  position: static;
}

.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical > .swiper-pagination-bullets {
  right: inherit;
  left: 60px;
  position: absolute;
  width: 203px;
  -ms-flex-preferred-size: 203px;
      flex-basis: 203px;
}

.swiper-pagination-bullet-active {
  background: transparent;
}

.swiper-pagination-bullet {
  background: transparent;
  height: inherit;
  color: white;
  width: inherit;
  text-align: left;
}

.swiper-pagination-bullet span {
  display: block;
}

.swiper-body {
  margin-left: 50%;
}

.swiper-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: -webkit-gradient(linear, right top, left top, from(rgba(66, 66, 66, 0.49)), color-stop(76.04%, rgba(66, 66, 66, 0.4753)), to(rgba(66, 66, 66, 0)));
  background: -webkit-linear-gradient(right, rgba(66, 66, 66, 0.49) 0%, rgba(66, 66, 66, 0.4753) 76.04%, rgba(66, 66, 66, 0) 100%);
  background: -o-linear-gradient(right, rgba(66, 66, 66, 0.49) 0%, rgba(66, 66, 66, 0.4753) 76.04%, rgba(66, 66, 66, 0) 100%);
  background: linear-gradient(270deg, rgba(66, 66, 66, 0.49) 0%, rgba(66, 66, 66, 0.4753) 76.04%, rgba(66, 66, 66, 0) 100%);
  -webkit-backdrop-filter: blur(47.2917px);
          backdrop-filter: blur(47.2917px);
}

.content-header {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 59px;
}

.content-header__logo {
  background: url("../Images/logo.svg") center center/cover no-repeat;
  background-size: 102px 30px;
  display: block;
  width: 102px;
  height: 30px;
}

.content-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-header__item:not(:first-child) {
  margin-left: 67px;
}

.content-header__link {
  white-space: nowrap;
  display: inline-block;
  color: #fff;
  font-family: "Catamaran", sans-serif;
  font-size: 17px;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  position: relative;
}

.content-header__link::after {
  content: "";
  position: absolute;
  background-color: #fff;
  display: block;
  height: 2px;
  width: 22px;
  bottom: -14px;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.content-header__link.active {
  font-weight: 800;
}

.content-header__link.active::after, .content-header__link:hover::after {
  opacity: 1;
}

.content-header__link.wallet {
  background: url("../Images/wallet.svg") center center/cover no-repeat;
  background-size: 24px 24px;
  display: block;
  width: 24px;
  height: 24px;
}
