@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;500;600;800&family=Caudex:wght@700&family=Orbitron:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@400;500;600;800&family=Caudex:wght@700&family=Orbitron:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100vh;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none !important;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul {
  padding-left: 0 !important;
  list-style: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  background: -webkit-linear-gradient(341.24deg, #343131 -1.39%, #1d1919 102.08%);
  background: -o-linear-gradient(341.24deg, #343131 -1.39%, #1d1919 102.08%);
  background: linear-gradient(108.76deg, #343131 -1.39%, #1d1919 102.08%);
  height: 100vh;
  color: white;
  overflow: hidden;
}

html {
  height: 100vh;
}

a {
  cursor: pointer;
}

.content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 110px 1fr;
      grid-template-columns: 110px 1fr;
  -ms-grid-rows: 98px 1fr;
      grid-template-rows: 98px 1fr;
  height: 100%;
}

.content-sidebar {
  border-right: 1px solid #505050;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-sidebar__button {
  display: block;
  background: url("../Images/menu.svg") center center/24px 24px no-repeat, -webkit-linear-gradient(322.56deg, #505050 0%, #383838 100%);
  background: url("../Images/menu.svg") center center/24px 24px no-repeat, -o-linear-gradient(322.56deg, #505050 0%, #383838 100%);
  background: url("../Images/menu.svg") center center/24px 24px no-repeat, linear-gradient(127.44deg, #505050 0%, #383838 100%);
  position: relative;
  width: 100%;
  height: 98px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.content-sidebar__button::after {
  content: "";
  position: absolute;
  background: url("../Images/menu-bg.svg") center center/24px 24px no-repeat;
  display: block;
  background-size: cover;
  width: 24px;
  height: 24px;
  z-index: -1;
  top: calc(50% - 13px);
  left: calc(50% - 13px);
  opacity: 0.05;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.content-sidebar__button::before {
  content: "";
  position: absolute;
  background: url("../Images/menu-bg2.svg") center center/24px 24px no-repeat;
  display: block;
  width: 24px;
  background-size: cover;
  height: 24px;
  top: calc(50% - 11px);
  left: calc(50% - 11px);
  opacity: 0.05;
  z-index: -1;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.content-sidebar__button:hover {
  background: url("../Images/menu.svg") center center/24px 24px no-repeat, -webkit-linear-gradient(322.56deg, #6565658f 0%, #55555586 100%);
  background: url("../Images/menu.svg") center center/24px 24px no-repeat, -o-linear-gradient(322.56deg, #6565658f 0%, #55555586 100%);
  background: url("../Images/menu.svg") center center/24px 24px no-repeat, linear-gradient(127.44deg, #6565658f 0%, #55555586 100%);
}

.content-sidebar__button:hover::before, .content-sidebar__button:hover::after {
  opacity: 1;
}

.content-sidebar__list {
  margin: 0 auto;
}

.content-sidebar__item {
  margin-bottom: 65px;
}

.content-sidebar__link {
  display: block;
  width: 30px;
  height: 30px;
}

.content-sidebar__fb {
  background: url("../Images/fb.svg") center center/cover no-repeat;
  background-size: 25px 25px;
}

.content-sidebar__tw {
  background: url("../Images/tw.svg") center center/cover no-repeat;
  background-size: 25px 25px;
}

.content-sidebar__inst {
  background: url("../Images/inst.svg") center center/cover no-repeat;
  background-size: 25px 25px;
}

.content-main {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  margin-top: 10px;
}

.swiper {
  position: relative;
  height: calc(100vh - 100px);
}

.swiper-wrapper {
  position: static;
}

.swiper-slide {
  position: relative;
}

.swiper-slide__img {
  position: absolute;
  top: 3%;
  left: 15%;
  width: 40%;
  bottom: 0;
}

.swiper-pagination-vertical.swiper-pagination-bullets,
.swiper-vertical > .swiper-pagination-bullets {
  right: inherit;
  top: 150px;
  left: 60px;
  position: absolute;
  width: 203px;
  -ms-flex-preferred-size: 203px;
      flex-basis: 203px;
}

.swiper-pagination-bullet {
  background: transparent;
  height: inherit;
  color: white;
  width: inherit;
  text-align: left;
  font-size: 25px;
  font-weight: 800;
  font-family: "Catamaran", sans-serif;
  line-height: 1.1;
}

.swiper-pagination-bullet:not(:last-child) {
  margin-top: 0 !important;
  margin-bottom: 15px !important;
}

.swiper-pagination-bullet span {
  display: block;
  font-weight: 600;
  font-size: 17px;
}

.pagination-art {
  position: relative;
}

.pagination-art::before {
  content: "";
  background: url(../Images/line-white.svg) left center/cover no-repeat;
  background-size: 203px 2px;
  width: 203px;
  height: 2px;
  display: block;
  left: 0;
  bottom: 15px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: transparent;
  font-size: 34px;
  font-family: "Catamaran", sans-serif;
  font-weight: 800;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active span {
  font-size: 22px;
  font-weight: 600;
}

.swiper-body {
  margin-left: 50%;
}

.swiper-body__title {
  font-size: 45px;
  font-family: "Caudex", serif;
  font-weight: 700;
  line-height: 1.2;
}

.swiper-body__title span {
  position: relative;
}

.swiper-body__title span::before, .swiper-body__title span::after {
  content: "3D printed";
  position: absolute;
  z-index: -1;
}

.swiper-body__title span::before {
  left: -4px;
  color: #fb258b;
}

.swiper-body__title span::after {
  bottom: 2px;
  left: 4px;
  color: #5025fb;
  width: 100%;
}

.swiper-body__desc {
  font-family: "Catamaran", sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.065em;
  color: #bcbcbc;
  line-height: 1.4;
  margin: 30px 0 47px;
}

.swiper-body__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-body__btn {
  font-family: "Orbitron", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #252525;
  background-color: white;
}

.swiper-body__buy {
  padding: 9px 20px;
  position: relative;
  margin-right: 30px;
  -webkit-box-shadow: 0 0 0 4.5px rgba(255, 255, 255, 0);
          box-shadow: 0 0 0 4.5px rgba(255, 255, 255, 0);
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.swiper-body__buy::after, .swiper-body__buy::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.swiper-body__buy::after {
  background-color: #fb258b;
  left: -4px;
  top: -4.5px;
}

.swiper-body__buy::before {
  background-color: #5025fb;
  bottom: -4.5px;
  right: -4.5px;
}

.swiper-body__buy:hover {
  -webkit-box-shadow: 0 0 0 4.5px #fff;
          box-shadow: 0 0 0 4.5px #fff;
}

.swiper-body__buy:hover::after, .swiper-body__buy:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.swiper-body__view {
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
  background: transparent;
  border: 1px solid white;
  padding: 14px 21px 14px 56px;
  position: relative;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.swiper-body__view::after {
  position: absolute;
  content: "";
  background: url("../Images/eye.svg") center center/cover no-repeat;
  background-size: 24px 18px;
  width: 24px;
  height: 18px;
  display: block;
  left: 20px;
  top: calc(50% - 9px);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.swiper-body__view:hover {
  background-color: #fff;
  color: #252525;
}

.swiper-body__view:hover::after {
  background: url("../Images/eye-black.svg") center center/cover no-repeat;
  background-size: 24px 18px;
  width: 24px;
  height: 18px;
}

.swiper-footer {
  position: absolute;
  height: 225px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background: -webkit-gradient(linear, right top, left top, from(rgba(66, 66, 66, 0.49)), color-stop(76.04%, rgba(66, 66, 66, 0.4753)), to(rgba(66, 66, 66, 0)));
  background: -webkit-linear-gradient(right, rgba(66, 66, 66, 0.49) 0%, rgba(66, 66, 66, 0.4753) 76.04%, rgba(66, 66, 66, 0) 100%);
  background: -o-linear-gradient(right, rgba(66, 66, 66, 0.49) 0%, rgba(66, 66, 66, 0.4753) 76.04%, rgba(66, 66, 66, 0) 100%);
  background: linear-gradient(270deg, rgba(66, 66, 66, 0.49) 0%, rgba(66, 66, 66, 0.4753) 76.04%, rgba(66, 66, 66, 0) 100%);
  -webkit-backdrop-filter: blur(47.2917px);
          backdrop-filter: blur(47.2917px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.swiper-info {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: auto 1fr;
      grid-template-rows: auto 1fr;
  gap: 5%;
  width: calc(100% - 360px);
  padding-left: 60px;
}

.swiper-info__author {
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-column: 1/6;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  font-family: "Caudex", serif;
  font-size: 22px;
  font-weight: 700;
  margin: 30px 0 26px;
}

.swiper-info__item {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  font-family: "Orbitron", sans-serif;
  font-size: 17px;
  font-weight: 700;
}

.swiper-info__item span {
  display: block;
  font-family: "Catamaran", sans-serif;
  font-weight: 500;
  font-size: 17px;
  color: #bcbcbc;
  margin-top: 10px;
}

.swiper-cover {
  width: 225px;
  height: 225px;
  position: relative;
  overflow: hidden;
}

.swiper-cover__img {
  width: 225px;
  height: 225px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -o-object-fit: cover;
     object-fit: cover;
}

.pagination-price {
  display: inline;
}

.pagination-price span {
  font-family: "Caudex", serif;
  display: inline;
}

.content-header {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 59px;
}

.content-header__logo {
  background: url("../Images/logo.svg") center center/cover no-repeat;
  background-size: 102px 30px;
  display: block;
  width: 102px;
  height: 30px;
}

.content-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-header__item:not(:first-child) {
  margin-left: 67px;
}

.content-header__link {
  white-space: nowrap;
  display: inline-block;
  color: #fff;
  font-family: "Catamaran", sans-serif;
  font-size: 17px;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  position: relative;
}

.content-header__link::after {
  content: "";
  position: absolute;
  background-color: #fff;
  display: block;
  height: 2px;
  width: 22px;
  bottom: -14px;
  left: 0;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.content-header__link.active {
  font-weight: 800;
}

.content-header__link.active::after, .content-header__link:hover::after {
  opacity: 1;
}

.content-header__link.wallet {
  background: url("../Images/wallet.svg") center center/cover no-repeat;
  background-size: 24px 24px;
  display: block;
  width: 24px;
  height: 24px;
}

@media (orientation: portrait) and (max-width: 376px) and (max-height: 668px) {
  html,
  body {
    overflow-y: scroll;
    height: 100%;
  }
  .content {
    -ms-grid-rows: 45px 1fr;
        grid-template-rows: 45px 1fr;
    -ms-grid-columns: 45px 1fr;
        grid-template-columns: 45px 1fr;
  }
  .content-header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content-header__logo {
    width: 92px;
    height: 19px;
    background-size: 92px 19px;
  }
  .content-sidebar__button {
    height: 45px;
  }
  .content-main {
    overflow-y: scroll !important;
    height: 100%;
  }
  .swiper {
    height: 100%;
    overflow-y: scroll;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .swiper {
    overflow: scroll;
  }
  .swiper-body {
    margin-left: 0;
    margin-top: 200px;
  }
  .swiper-body__title {
    font-size: 38px;
    padding: 0 20px;
  }
  .swiper-body__desc {
    padding: 0 20px;
  }
  .swiper-body__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .swiper-body__buy {
    margin: 0;
  }
  .swiper-body__btn {
    margin: 15px 0;
  }
  .swiper-slide {
    overflow-y: scroll;
    height: 100%;
  }
  .swiper-footer {
    display: -ms-grid;
    display: grid;
    position: relative;
    -ms-grid-rows: (1fr)[1];
        grid-template-rows: repeat(1, 1fr);
    height: 161%;
  }
  .swiper-info {
    display: inherit;
    -ms-grid-rows: (1fr)[6];
        grid-template-rows: repeat(6, 1fr);
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .swiper-info__author {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .swiper-info__item {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    grid-row: inherit;
  }
  .swiper-slide__img {
    top: 3%;
    left: calc(50% - 62px);
  }
  .swiper-cover {
    margin: 0 auto;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .swiper-pagination-vertical.swiper-pagination-bullets,
  .swiper-vertical > .swiper-pagination-bullets {
    position: static;
    display: block;
    margin: 0 auto;
  }
  .pagination-art::before,
  .swiper-pagination-bullet span::before,
  .swiper-pagination-vertical.swiper-pagination-bullets
.swiper-pagination-bullet::before,
  .swiper-vertical > .swiper-pagination-bullets .swiper-pagination-bullet::before {
    display: none;
  }
}

@media (max-width: 900px) and (max-height: 900px) {
  nav {
    display: none;
  }
}
